extends base.pug
block style 
    style
      include ../static/style.css
block content
    
    section#introSection
        div Welcome to Krishna's Dance Academy
        div.small Eat Sleep Dance Repeat
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box1
                div.card-img 
                    img(src="/static/img1.jpg")
        div.card
            h3 Dance The Way You Like
             div.card-box
                div.card-img 
                    img(src="/static/img2.jpg")
        div.card
            h3 Expert Teaching
             div.card-box
                div.card-img 
                    img(src="/static/img3.jpg")
    section#sponsorsSection
        h2 Our Sponsors
        div#sponsors
            img(src= "/static/logo2.png", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/logo1.png", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/logo3.png", alt= "Sponsor Image", class= "spImage")
            img(src= "/static/logo4.jpg", alt= "Sponsor Image", class= "spImage")       